[submodule "catkin_ws/src/rosserial"]
	path = catkin_ws/src/rosserial
	url = https://github.com/ros-drivers/rosserial.git
[submodule "rosbag_to_csv"]
	path = rosbag_to_csv
	url = https://github.com/AtsushiSakai/rosbag_to_csv
