<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
  </node>
	
  <!--- Run map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find deepfind_navigation)/maps/capstone.yaml"/> -->
  <param name="robot_description" textfile="$(find deepfind_navigation)/urdf/deepfind.urdf"/>

  <!--- Run move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="odom" to="scanmatch_odom" />

    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>

    <rosparam file="$(find deepfind_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find deepfind_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find deepfind_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find deepfind_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find deepfind_navigation)/param/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find deepfind_navigation)/param/move_base_params.yaml" command="load" />
  </node>
</launch>
